<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIviewAnimationAndTransfrom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>046FE8E71D3DD97C003A97A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046FE9001D3DD97D003A97A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046FE90B1D3DD97D003A97A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
